@import "variables";

.owl-dropdown {

  display: block;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }

  .owl-dropdown {
    display: block;
    padding: 0 10px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
  }

  .owl-label {
    background-color: #cccccc;
    border: 1px solid #333333;
    width: 160px;
    padding: 5px;
    cursor: pointer;
  }

  .owl-list {
    display: none;
    width: 160px;
    position: absolute;
    top: 25px;
    margin: -1px 0 0 0;
    li {
      display: none;
      background-color: #cccccc;
      border: 1px solid #333333;
      width: 160px;
      padding: 5px;
      margin: -1px 0 0 0;
      cursor: pointer;
      &:hover {
        background-color: #dddddd;
      }
    }
    &.open {
      display: block;
      width: 160px;
      li {
        display: block;
      }
    }
  }

}