@import "variables";

.owl-dropdown {

  display: block;
  position: relative;
  &.open {

  }

  p {
    margin: 0;
    padding: 0;
  }

  .owl-label {
    background-color: #cccccc;
    border: 1px solid #333333;
    //width: 160px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    &.open {
      background-color: $tertiaryColour;
      color: white;
    }
  }

  .owl-list {
    position: relative;
    display: none;
    width: 100%;
    top: 24px;
    margin: 0;
    li {
      display: none;
      background-color: #cccccc;
      border: 1px solid #333333;
      padding: 5px;
      margin: -1px 0 0 0;
      cursor: pointer;
      &:hover {
        background-color: #dddddd;
      }
    }
    &.open {
      display: block;
      position: absolute;
      li {
        display: block;
      }
    }
  }

}